<div class="container my-4">
    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" [(ngModel)]="searchName" class="form-control" placeholder="Rechercher par nom" />
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]="searchAddress" class="form-control" placeholder="Rechercher par adresse" />
      </div>
    </div>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let r of filteredResidences()">
        <div class="card h-100 shadow-sm border-light">
          <img [src]="r.image" alt="View" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title text-uppercase">{{ r.name }}</h5>
            <p class="card-text"><strong>Adresse:</strong> {{ r.address }}</p>
            <p>
              <span class="badge fs-6"
                    [ngClass]="{
                      'bg-success': r.status === 'Disponible',
                      'bg-danger': r.status === 'Vendu',
                      'bg-secondary': r.status !== 'Disponible' && r.status !== 'Vendu'
                    }">
                {{ r.status }}
              </span>
            </p>
          </div>
  
          <div class="card-footer bg-transparent text-center " >
            <button class="btn btn-info btn-sm" style="margin-right:10px;" (click)="showLocation(r)">
              View Location
            </button>
            <button class="btn btn-outline-danger btn-sm  " (click)="addToFavorites(r)">
              ❤️ Like
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  